spring:
  profiles:
    active: local
  datasource:
    url: jdbc:h2:tcp://localhost/~/studyhub
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        #        show_sql: true
        format_sql: true
        use_sql_comments: true
logging.level:
  org.hibernate.SQL: debug
#  org.hibernate.type: trace

server:
  port: 8080        # Spring Boot가 8080에서 실행
  address: 0.0.0.0  # 외부에서 접속 가능