spring:
  profiles:
    active: local
  datasource:
#    url: jdbc:h2:tcp://localhost/~/studyhub
#    username: sa
#    password:
#    driver-class-name: org.h2.Driver
#  jpa:
#    database-platform: org.hibernate.dialect.H2Dialect
    url: jdbc:mysql://studyhub-db.cyhu008wm212.us-east-1.rds.amazonaws.com:3306/studyhub-db?useSSL=false&serverTimezone=Asia/Seoul
    username: admin
    password: vltmxhs12
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        #        show_sql: true
        format_sql: true
        use_sql_comments: true

logging.level:
  org.hibernate.SQL: debug
#  org.hibernate.type: trace

server:
  port: 8080        # Spring Boot가 8080에서 실행
  address: 0.0.0.0  # 외부에서 접속 가능

google:
  client-id: ${GOOGLE_CLIENT_ID}
  client-secret: ${GOOGLE_CLIENT_SECRET}
  redirect-uri: http://localhost:8080/oauth/google/callback